/*Ocultando o campo de validação*/
.validacao {
  text-align: left;

  margin-top: 5px;
  padding: 10px;
  
  display: none;
}

.alert-info b {
  background-color: #d9edf7;
  border-color: #bce8f1;
  color: #3a87ad;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    display: inline-block;
    padding: 1px 5px;
    font-size: 11px;
    text-transform: uppercase;
}

.message .table-message thead tr.heading td, .message .table-message tbody tr.heading td {
    background: #333!important;
    font-weight: bold;
    border: 0;
}

.message .table-message tbody td.cell-time {
    width: 120px;
}
/*
.ui-widget.ui-widget-content {
    margin: auto;
}

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default, .ui-button, html .ui-button.ui-state-disabled:hover, html .ui-button.ui-state-disabled:active {
    background: none; 
    font-weight: thin;
    color: #555555;
    border: 0.3px solid #eee;
}

.ui-widget-header {
    border: none; 
    background: none; 
    color: #222222; 
    font-weight: normal;
}

.ui-state-hover, ui-datepicker-next-hover {
  background: none!important;
  border: none;
}

.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active, a.ui-button:active, .ui-button:active, .ui-button.ui-state-active:hover {
    background: #bbb!important;
}*/